.navbar {
  display: block;
}
@media (min-width: 768px) {
  .navbar {
    display: inline-block;
  }
}
.button {
  color: grey;
  border-color: blue;
}
.button {
  color: grey;
  border-color: blue;
}
.produce-ruleset {
  prop: val;
}
.lunch {
  treat: ice cream;
}
